body{
  margin: 0;
}


.grid-group {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: repeat(100, 1fr);
  grid-template-rows: repeat(auto-fill);
  row-gap: 0;
}
.grid-element{
  border: 1px solid black;
  border-radius: 0%;
}

.modal-none {
  position: absolute;
  display: none !important;
}

.modal {
  position: absolute;
  animation: mount 1s;
}

@keyframes mount {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.modal-unmount {
  position: absolute;
  display: flex;
  animation: unmount 1s;
}

@keyframes unmount {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
    display: hidden;
  }
}

